<script setup lang="ts">
import { type Product } from '@/types/Product'
import { ref, type Ref } from 'vue';
import { type SweetLevel, type Size, type SubCategory } from '@/types/Product';
import { parse } from 'vue/compiler-sfc';

const props = defineProps<{
    product: Product
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
let sizeTag = ref("size")
let sweetTag = ref("sweet")
let HotBgIconColor = ref('')
let ColdBgIconColor = ref('')
let FrappeBgIconColor = ref('')
let sweet = <SweetLevel>{}
let size = <Size>{}
let drinkType = <SubCategory>{}

const selected = function () {
    const a = <Product>{
        id: props.product.id,
        name: props.product.name,
        price: props.product.price,
        unit: props.product.unit,
        category: props.product.category,
        subCategory: props.product.subCategory,
        sweetLevel: props.product.sweetLevel,
        size: props.product.size,
    }
    console.log(a)
    emit('selectedProduct', a)

    resetCard();
}

const drinkSize = ref([
    { title: 'S' },
    { title: 'M' },
    { title: 'L' },
])
const sweetSize = ref([
    { title: '0' },
    { title: '25' },
    { title: '50' },
    { title: '100' }
])
function sizeSeleted(index: number) {
    if (index === 0) {
        size = ("S");
        sizeTag.value = "S"
    }
    else if (index === 1) {
        size = ("M");
        sizeTag.value = "M"
    }
    else if (index === 2) {
        size = ("L");
        sizeTag.value = "L"
    }
    props.product.size = size
}
function sweetSeleted(index: number) {
    if (index === 0) {
        sweet = ("0");
        sweetTag.value = "0"
    }
    else if (index === 1) {
        sweet = ("25");
        sweetTag.value = "25"
    }
    else if (index === 2) {
        sweet = ("50");
        sweetTag.value = "50"
    }
    else if (index === 3) {
        sweet = ("100");
        sweetTag.value = "100"
    }

    props.product.sweetLevel = sweet

}
function DrinkType(type: number) {
    if (type === 1) {
        drinkType = "Hot"

    }
    else if (type === 2) {
        drinkType = "Cold"
    }
    else if (type === 3) {
        drinkType = "Frappe"
    }
    changeBgIconColor(type)
    props.product.subCategory = drinkType


}
function resetCard() {
    sizeTag.value = "size"
    sweetTag.value = "sweet";
    ResetBgIconColor()

}
function changeBgIconColor(type: number) {
    ResetBgIconColor()
    if (type === 1) {
        HotBgIconColor.value = 'rgb(186, 186, 186)'
    }
    else if (type === 2) {
        ColdBgIconColor.value = 'rgb(186, 186, 186)'
    }
    else if (type === 3) {
        FrappeBgIconColor.value = 'rgb(186, 186, 186)'
    }
}
function ResetBgIconColor() {
    HotBgIconColor.value = ''
    ColdBgIconColor.value = ''
    FrappeBgIconColor.value = ''
}
function cheakCard() {
    if (sizeTag.value == 'size') {
        return
    }
    else if (sweetTag.value == 'sweet') {
        return
    } else if (HotBgIconColor.value == '' && ColdBgIconColor.value == '' && FrappeBgIconColor.value == '') {
        return
    } else {
        selected()
    }

}

</script>

<template>
    <v-sheet width="200" height="125" elevation="3" @click="cheakCard()" rounded>
        <v-container>
            <v-row>
                <v-col cols="5">
                    <v-img :src="`./img/allproduct/product${product.id}.png`" height="80" cover></v-img>
                    <div style="text-align: center; color: ;"> ฿ {{ product.price }}</div>
                </v-col>
                <v-col cols="7" class="pl-0 pt-1">
                    <div style="text-align: center; font-size: 14px;  ">{{ product.name }}
                    </div>
                    <v-row>
                        <v-col cols="12" class="mb-0 pl-5">
                            <div @click.stop>
                                <v-btn density="compact" icon="mdi-fire" style="color: red;" @click="DrinkType(1)"
                                    :style="{ backgroundColor: HotBgIconColor }"></v-btn>
                                <v-btn density="compact" icon="mdi-delete-variant" @click="DrinkType(2)"
                                    :style="{ backgroundColor: ColdBgIconColor }"></v-btn>
                                <v-btn density="compact" icon="mdi-snowflake" @click="DrinkType(3)"
                                    :style="{ backgroundColor: FrappeBgIconColor }"></v-btn>
                            </div>
                        </v-col>
                        <v-col col="12" class="ma-0 pa-0 pl-7">
                            <v-menu>
                                <template v-slot:activator="{ props }">
                                    <v-btn color="primary" v-bind="props" height="20px" width="70">
                                        {{ sizeTag }}
                                    </v-btn>
                                </template>
                                <v-list>
                                    <v-list-item v-for="(item, index) in drinkSize" :key="index" :value="index"
                                        @click="sizeSeleted(index)">
                                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-col>
                        <v-col col="12" class="ma-0 pa-0 pl-7">
                            <v-menu>
                                <template v-slot:activator="{ props }">
                                    <v-btn color="primary" v-bind="props" height="20px" width="70">
                                        {{ sweetTag }}
                                    </v-btn>
                                </template>
                                <v-list>
                                    <v-list-item v-for="(item, index) in sweetSize" :key="index" :value="index"
                                        @click="sweetSeleted(index)">
                                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-col>
                    </v-row>

                </v-col>
            </v-row>
        </v-container>
    </v-sheet>
</template>

<style></style>